.body {
	font-size: 12px;
	line-height: 18px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

}
.smallText {
	font-size: 10px;
	line-height: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.greyText {
	font-size: 12px;
	line-height: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #666666;
}
img.floatLeft { 
    float: left; 
    margin: 4px; 
}
a:hover {  
	text-decoration: none;
	font-weight: none;
}

.smallunleaded {
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

}
.orange a:link {
	color: #CC6600;
	}

.orange a:visited {
	color: #CC6600;
	}

.orange a:active {
	color: #CC6600;
	}

.orange a:hover {
	color: #FFCC33;
	}
.titleWhite {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}
.mainTitleWhite {
	font-family: "Avant Garde Medium", "Arial Narrow", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 2;
	margin-left: 36px;
	font-weight: lighter;
	letter-spacing: 1.2;
}
.mainTitleGrey {
	font-family: "Avant Garde Medium", "Arial Narrow", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #808080;
	line-height: 2;
	margin-left: 36px;
	font-weight: lighter;
}
.titleBlack {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
.titleBlue {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: 6A8FB5;
}
.quoteBlue {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: 000000;
}
.quoteBlueSmall {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 15px;
	color: 000000;
}
.quoteBlack {

	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: #000000;
}
.quoteGrey, .quoteGrey a:link, .quoteGrey a:active, .quoteGrey a:visited, .quoteGrey a:hover {

	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: #666666;
	font-weight: bold;
}

.davbutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	background-color: #126472;
	border-color: #ECECEC;
	border-width: 2px;
	vertical-align: middle;
	height: 20px;
	margin: 0px;
	padding: 0px;
}

.davinput {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-color: #FFFFFF;
	border-width: 2px;
	vertical-align: middle;
	height: 20px;
}
.titleNewBlue {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #577994;
}
.titleBrandBlue {
	font-family: Helvetica, Geneva, sans-serif;
	font-size: 18px;
	color: #48607B;
	font-weight: bold;
	text-decoration: none;
}
.titleOrange {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #D87501;
	font-weight: bold;
	text-decoration: none;
}
.titleOrangeLight {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #D87501;
	text-decoration: none;
}

h2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;

}

h3 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;

}

h4 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;

}

h5 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;

}

img {
	border: 0;
}
