<style type='text/css'>
/* <![CDATA[ */
	div.uberChicGeekChicks_post{border-style:dotted!important;}
	div.uberChicGeekChicks_references, div.uberChicGeekChicks_firefox{border-style:double!important;}
	div.uberChicGeekChicks_post, div.uberChicGeekChicks_references, div.uberChicGeekChicks_firefox{border-color:#ff66ff!important; border-width:4px!important; background-color:#ffddee!important; color:#ffddee!important; font-size:14px!important; font-family:Courier 10 Pitch,New Courier,Courier!important; padding:5px!important;}
	div.uberChicGeekChicks_references, div.uberChicGeekChicks_firefox{text-align:right!important;}

	p.uberChicGeekChicks_p, div.uberChicGeekChicks_indentation, div.uberChicGeekChicks_gdDREAMS{color:#ffddee!important; text-indent:40px!important;}
	p.uberChicGeekChicks_p{padding-top:10px!important; padding-bottom:10px!important;}

	span.uberChicGeekChicks_disclaimer, span.uberChicGeekChicks_sarcasm{color:#ffddee!important; font-weight:bold!important;}
	span.uberChicGeekChicks_sarcasm{font-style:italic!important; text-decoration:underline!important;}
	span.uberChicGeekChicks_disclaimer{font-size:19px!important;}

	a.uberChicGeekChicks_a{color:#cc3355!important; font-style:italic!important; text-decoration:underline!important;}
	a.uberChicGeekChicks_a:hover{color:#990000!important;}
	a.uberChicGeekChicks_footnote{color:#cc3355!important; text-decoration:none!important; border-bottom:0.5px #990000 dotted!important; font-size:small!important;}
	a.uberChicGeekChicks_footnote:hover{color:#990000!important; font-size:small!important;}

	strong.uberChicGeekChicks_strong, em.uberChicGeekChicks_em, small.uberChicGeekChicks_small{color:#ffddee!important;}
	img.uberChicGeekChicks_firefoxLogo{border-width:0px!important; width:22px!important; height:22px!important;}
/* ]]> */
</style>