
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Directory
Icon[en_US]=/uberChick/.icons/Lila/scalable/emblems/emblem-favorite.svg
Name[en_US]=My Faves
Name=My Faves
Icon=/uberChick/.icons/Lila/scalable/emblems/emblem-favorite.svg
